# Ignorer les fichiers objets
*.o
*.a
*.exe


# Ignorer les fichiers texte sauf ceux dans Doc ou testing
*.txt
!Doc/*.txt
!testing/*.txt

# Ignorer les fichiers spécifiques déjà mentionnés
Minishell/include/utils/ft_printf/libftprintf.a
Minishell/include/utils/gnl/libgnl.a
Minishell/include/utils/libft/libft.a
Minishell/minishell
